// Place all the styles related to the TraceRoutes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$map_width: 100%;
$map_height: 100%;

#map {
  width: $map_width;
  height: $map_height;
  min-height: $map_height;
  background: image_url('loading.gif') no - repeat center center;
}

html, body {
  height: $map_height;
}

.fill {
  min-height: $map_height;
  height: $map_height;
}

.container {
  width: $map_width;
  padding-left: 0;
  padding-right: 0;
}

#details {
  -moz-user-select: none;
  background-clip: padding-box;
  background-color: #fff;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  color: #000;
  direction: ltr;
  font-family: Roboto,Arial,sans-serif;
  font-size: 12px;
  padding: 8px;
  padding-top: 0;
  margin-right: 10px;
}

#details h3 {
  margin-top: 0;
}

#details img {
  vertical-align: middle;
}
